<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="/layouts/layout-mobile">
<head>
    <script src="common/js/g6reserve.js"></script>
    <script src="common/js/server.js"></script>
</head>
<body>
<th:block layout:fragment="content">

<div class="sec_faq">

	<!-- txt -->
	<div class="txt_confirm">
		<p class="img_100"><img src="images/txt_faq.png" alt="예약가입에 대한 궁금증을 해결해드립니다" /></p>
	</div>

	<!-- 2017-09-11 faq area -->
	<div class="faq_area">

		<!-- 공통 질문 -->
		<dl class="faq_list">
			<dt>
				<span><strong class="color_pink">공통</strong> 매장 방문과 온라인 직영몰 신청을 중복으로 할 수 있나요?</span>
			</dt>
			<dd>
				<ul class="depth_2">
					<li>
						<span>
							- 네, 가능합니다. 유플러스의 모든 사전예약 방법에 대해서 중복 신청을 하실 수 있고, 각각 다른 예약번호가 부여됩니다.
							<br />
							- 단, 전체 채널을 합쳐서 1인 당 최대 3개까지 신청하실 수 있습니다.
						</span>
					</li>
				</ul>
			</dd>
		</dl>

		<dl class="faq_list">
			<dt>
				<span><strong class="color_pink">공통</strong> 1인 당 몇 개씩 예약할 수 있나요?</span>
			</dt>
			<dd>
				<ul class="depth_2">
					<li>
						<span>
							- 사전예약은 1인 당 최대 3대까지 신청하실 수 있습니다.
						</span>
					</li>
				</ul>
			</dd>
		</dl>

		<dl class="faq_list">
			<dt>
				<span><strong class="color_pink">공통</strong> 색상을 중복으로 신청할 수 있나요? </span>
			</dt>
			<dd>
				<ul class="depth_2">
					<li>
						<span>
							- 네, 가능합니다. 1인 당 최대 3대까지 신청하실 수 있습니다.
						</span>
					</li>
				</ul>
			</dd>
		</dl>

		<dl class="faq_list">
			<dt>
				<span><strong class="color_pink">공통</strong> 예약번호를 잊어버렸어요. 다시 확인할 수 있나요?</span>
			</dt>
			<dd>
				<ul class="depth_2">
					<li>
						<span>
							- 사전예약홈페이지( http://v30.uplus.co.kr ) &gt; 내 예약 확인 메뉴에서 확인하실 수 있습니다. <br />
							- 카카오톡 플러스친구 'LG유플러스' 추가 후 내 예약 확인에서 확인하실 수 있습니다.
						</span>
					</li>
				</ul>
			</dd>
		</dl>

		<dl class="faq_list">
			<dt>
				<span><strong class="color_pink">공통</strong> 사전예약 후 색상과 매장을 변경할 수 있나요? </span>
			</dt>
			<dd>
				<ul class="depth_2">
					<li>
						<span>
							- 아니요. 예약번호가 발급되면 수정하실 수 없습니다. <br />
							- 단, 1인 당 3대까지 신청하실 수 있으니 다시 사전예약을 신청하여 새로운 예약번호를 받으시길 바랍니다. <br />
							- 이미 3대를 신청하셨다면, 기존 예약 신청내역을 삭제하신 후 재신청할 수 있으니 참고하세요.
						</span>
					</li>
				</ul>
			</dd>
		</dl>
		
		<dl class="faq_list">
			<dt>
				<span><strong class="color_pink">공통</strong> 사전예약 후 이름과 휴대폰 번호를 변경할 수 있나요?</span>
			</dt>
			<dd>
				<ul class="depth_2">
					<li>
						<span>
							- 사전예약 중에 수정할 수 없지만 개통을 진행할 때 실제 개통을 원하시는 휴대폰 번호로 변경하실 수 있습니다. <br />
							- 단, 타인의 사전예약 번호 도용을 방지하기 위해 이름은 변경하실 수 없으니 주의하세요.
						</span>
					</li>
				</ul>
			</dd>
		</dl>
		
		<dl class="faq_list">
			<dt>
				<span><strong class="color_pink">공통</strong> 3개의 사전예약을 모두 완료했습니다. 추가 신청할 수 있나요? </span>
			</dt>
			<dd>
				<ul class="depth_2">
					<li>
						<span>
							- 아니요, 불가능합니다. 색상 변경을 원하신다면 기존 신청내역을 삭제한 후 다시 신청하시길 바랍니다.
						</span>
					</li>
				</ul>
			</dd>
		</dl>
		<!--// 공통 질문 -->

		<!-- 매장 질문 -->
		<dl class="faq_list">
			<dt>
				<span><strong class="color_blue">매장</strong> 매장선택 목록에 방문하려는 매장이 없습니다. 어떻게 해야 하나요?</span>
			</dt>
			<dd>
				<ul class="depth_2">
					<li>
						<span>
							- 매장선택 화면에서 '나중에 선택하기' 를 선택한 후 예약을 완료하여 예약번호를 발급 받으세요. <br />
							- 이후 원하시는 매장에 방문하여 부여 받은 예약번호를 보여주면 '휴대폰 번호 문자 본인 인증' 을 통해 바로 개통하실 수 있습니다.
						</span>
					</li>
				</ul>
			</dd>
		</dl>

		<dl class="faq_list">
			<dt>
				<span><strong class="color_blue">매장</strong> 선택한 매장이 아닌 다른 매장으로 변경하여 개통하려면 어떻게 해야 하나요?</span>
			</dt>
			<dd>
				<ul class="depth_2">
					<li>
						<span>
							- 원하시는 매장에 방문하여 부여 받은 예약번호를 보여주면 휴대폰 번호 문자 본인 인증을 통해 바로 개통하실 수 있습니다.
						</span>
					</li>
				</ul>
			</dd>
		</dl>
		<!-- //매장 질문 -->

		<!-- 온라인 질문 -->
		<dl class="faq_list">
			<dt>
				<span><strong class="color_gray">온라인</strong> 사전예약 후 온라인 신청서 작성은 어떻게 해야 하나요?</span>
			</dt>
			<dd>
				<ul class="depth_2">
					<li>
						<span>
							- 예약 당일에 신청서를 작성하셔야 우선 개통이 진행됩니다. <br />
							- 당일 신청서를 작성하지 않으면 배송 및 개통 등 모든 면에서 순위가 뒤로 밀릴 수 있으니, 주의해 주세요.
						</span>
					</li>
				</ul>
			</dd>
		</dl>

		<dl class="faq_list">
			<dt>
				<span><strong class="color_gray">온라인</strong> 온라인 신청서 작성 후 해피콜 연락은 언제 오나요?</span>
			</dt>
			<dd>
				<ul class="depth_2">
					<li>
						<span>
							- 신청서 접수 후 순차적으로 신청 당일~이틀 후 사이에 U+  Shop 고객센터 1644-7009 에서 연락드릴 예정입니다.
						</span>
					</li>
				</ul>
			</dd>
		</dl>
		<!-- //온라인 질문 -->

	</div>
	<!-- //2017-02-24 faq area -->
	
	<!-- 2017-09-11 txt
	<div class="txt_faq">
		- 추가문의 : 고객센터 (휴대폰 + 114 : 무료 / 1544 - 0010 : 유료)
	</div> -->
	
	
</div>

</th:block>

</body>
</html>