/* Digital Ocean _eBiz Dept */

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {margin:0; padding:0; -webkit-text-size-adjust:100%; vertical-align:top;}
body, input, textarea, select, button, table {font-size:12px; font-family:Dotum, sans-serif; line-height:1.2;}
img, fieldset {border:0; vertical-align:top;}
ul, ol, li {list-style:none;}
em, address {font-style:normal;}
a { text-decoration:none;}
a:hover, a:active, a:focus {text-decoration:underline;}
button {cursor:pointer;}
.blind {overflow:hidden; visibility:hidden; position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0;}
table {width:100%; border-collapse:collapse; border-spacing:0;}
hr {display:none;}
.ir span {display:block; overflow:hidden; position:relative; z-index:-1; height:11px; font-size:11px;}
header, hgroup, footer, section, article, nav, canvas, figure, figcaption {display:block;}

/*****************************************************************************/

#wrap{position:absolute;width:100%;height:100%;background:#f8f8f8;}

.contBlock{position:relative;width:100%;min-width:1000px;}

.contBlock.gnb{height:80px;background:#ffffff url('../../images/top_bg_pattern.gif') repeat-x;}
.contBlock.gnb .topLogo{position:absolute;}

.contBlock.gnb .menuBlock{position:absolute; right:0; width:567px; height:80px;} 
.contBlock.gnb .menuBlock .menu{position:relative;float:left;}



.contBlock.footer{height:208px; background-color:#ebebeb;}

.contElements{position:absolute;width:1000px;height:100%;left:50%;margin-left:-500px;;}

.inputBlock{border:1px solid #c2c2c2;}

.elementBg{position:absolute;width:100%;height:100%;text-align:center;}


.floattingBanner{position:fixed;width:149px;height:149px;top:100px;right:140px;}
.floattingBanner .floatCloser{position:absolute;left:106px;top:12px;}
.floattingBanner .floatBtn{position:absolute;left:24px;top:79px;}

/*****************************************************************************/

.benefitBI{position:absolute;width:100%;height:72px;top:34px;text-align:center;}

/************** reserve request **************************************/
.contBlock.contents{height:1100px;background:#ffffff;}

.contBlock.contents.reservestep2{height:1600px;}
.contBlock.contents.reservestep3{height:1300px;}
.contBlock.contents.reservestep4{height:1360px;}
.contBlock.contents.reservestep5{height:1300px;}

.colorBlock{position:absolute;width:100%;top:320px;height:70px;background:#eb0089;}
.colorBlock.gray{background:#ebebeb;top:390px;height:128px;}

.stepBlock{position:absolute;width:100%;height:100%;}
.stepBlock .stepLocation{position:relative;width:100%;text-align:center;margin-top:70px;}

.stepBlock.step1 .reserveTypeSelectors{position:relative;width:930px;height:270px;left:50%;margin-left:-460px;margin-top:220px;}
.stepBlock.step1 .reserveTypeSelectors .reserveTypeSelector{position:relative;float:left;}
.stepBlock.step1 .reserveTypeSelectors .reserveTypeSelector:first-child{margin-right:56px;}

.stepBlock.step2 .phoneSlider{position:absolute;width:494px;height:880px;top:460px;overflow:hidden;}

.stepBlock.step2 .phoneSlider .sliderImgs{position:absolute;width:100%;height:100%;}
.stepBlock.step2 .phoneSlider .sliderImgs .sliderImgBlock .sliderInnerBlock{psotion:absolute;width:100%;height:100%;text-align:center;}
.stepBlock.step2 .phoneSlider .sliderImgs .sliderImgBlock .sliderInnerBlock img{display:inline-block;}
.stepBlock.step2 .phoneSlider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #f0aec6;
    text-indent: -9999px;
    display: block;
    width: 22px;
    height: 3px;
    margin: 0 5px;
    outline: 0;
}
.stepBlock.step2 .phoneSlider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.stepBlock.step2 .phoneSlider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #da004f;
}

.stepBlock.step2 .sliderThums{position:relative;width:100%;text-align:center;margin-top:30px;}
.stepBlock.step2 .sliderThums img{margin:0 4px 0 4px;cursor:pointer;}

.stepBlock.step2 .phoneSlider .arrowController{position:absolute;width:54px;height:54px;top:50%;margin-top:-27px;}
.stepBlock.step2 .phoneSlider .arrowController.right{right:0}

.stepBlock.step2 .phoneSlider .sliderPager{position:absolute;width:100%;height:30px;bottom:0;text-align:center;}
.stepBlock.step2 .phoneSlider .sliderPager .sliderPagerBlock{position:relative;width:22px;height:30px;float:left;}

.stepBlock.step2 .userInformBlock{position:absolute;width:313px;height:854px;left:632px;top:460px;}

.stepBlock.step2 .userInformBlock .deviceSelectors{position:relative;width:100%;height:40px;margin-top:230px;}
.stepBlock.step2 .userInformBlock .deviceSelectors .deviceSelectorBtnSet{position:relative;width:100%;height:100%;}
.stepBlock.step2 .userInformBlock .deviceSelectors .deviceSelectorBtnSet .deviceSelectBtn{position:relative;float:left;}

.stepBlock.step2 .userInformBlock .colorSelectors{position:relative;width:100%;height:62px;margin-top:80px;}
.stepBlock.step2 .userInformBlock .colorSelectors .colorSelectorBtnSet{position:relative;width:100%;height:100%;}
.stepBlock.step2 .userInformBlock .colorSelectors .colorSelectorBtnSet .colorSelectBtn{position:relative;float:left;}

.stepBlock.step2 .userInformBlock .inputFieldBlock{position:relative;width:260px;height:50px;margin-top:116px;margin-left:54px;}
.stepBlock.step2 .userInformBlock .inputFieldBlock input{position:relative;padding:0 8px 0 8px;width:240px;height:30px;margin-bottom:32px;border:1px solid #000000;}

.stepBlock.step2 .userInformBlock .privacyTxtBlock{position:absolute;left:558px;top:52px;overflow:auto;width:393px;height:55px;padding:8px;border:1px solid #c2c2c2;font-size:11px;line-height:18px;}

.stepBlock.step2 .userInformBlock .agreeChkerBlock{position:relative;width:100%;margin-top:80px;}
.stepBlock.step2 .userInformBlock .agreeChkerBlock .privacyAgreeBlock{position:relative;width:100%;height:20px;margin-bottom:8px;}
.stepBlock.step2 .userInformBlock .agreeChkerBlock .privacyAgreeBlock input{width:19px;height:19px;}
.stepBlock.step2 .userInformBlock .agreeChkerBlock .agreeTxtOpener{position:absolute;left:268px;top:0px;}
.stepBlock.step2 .userInformBlock .agreeChkerBlock .agreeTxtOpener.giftagree{top:28px;}

.stepBlock.step2 .userInformSubmitBlock{position:relative;width:100%;margin-top:50px;text-align:center;}						
.stepBlock.step2 .userInformSubmit{position:relative;}

.stepBlock .reserveInfoBlock{position:relative;width:930;height:839px;left:35px;;margin-top:134px;}
.stepBlock .reserveInfoBlock .reserveInfoBg{position:absolute;}

.stepBlock .reserveInfoBlock .reserveInfoElement{position:relative;float:left;top:128px;}

.stepBlock .reserveInfoBlock .reservePhone{margin-left:1px;width:283px;height:567px;padding:5px;margin-top:78px;}

.stepBlock .reserveInfoBlock .reserveInfo{width:322px;height:839px;margin-left:1px;}
.stepBlock .reserveInfoBlock .reserveInfo .reserveInfoTxt{position:relative;width:300px;height:430px;margin-top:108px;left:280px;}
.stepBlock .reserveInfoBlock .reserveInfo .reserveInfoTxt .reserveInfoTxtBlock .reserveInfoField{position:relative;float:left;width:300px;height:35px;font-weight:bold;font-size:20px;margin-bottom:28px;}
.stepBlock.step2_1 .reserveInfoBlock .reserveInfo .storeSelectBtns{position:relative;width:560px;height:73px;margin-top:50px;margin-left:160px;}
.stepBlock.step2_1 .reserveInfoBlock .reserveInfo .storeSelectBtns .storeSelectBtn{position:relative;float:left;margin-right:30px;}

.stepBlock.step3 .reserveInfoBlock .reserveInfo .reserveInfoTxt .reserveInfoTxtBlock .reserveInfoField{margin-bottom:22px;}





/**************** 泥댄뿕留ㅼ옣李얘린 �뙘�뾽 ****************************/
.popBg{position:fixed;width:100%;height:100%;left:0px;top:0px;background:rgba(0, 0, 0, .8);display:none;}
.storeSearchPop{position:absolute;left:0;top:0;width:100%;height:996px;min-width:1000px;}
.storeSearchPop .storeSearchBoard{position:absolute;width:725px;height:800px;left:50%;margin-left:-362px;top:50%;margin-top:-400px;}
/**************** 泥댄뿕留ㅼ옣李얘린 �뙘�뾽 ****************************/

.blackline{position:relative;width:100%;height:5px;background:#000000;}

.popScript{position:absolute;left:230px;top:272px;} /** 2017-02-27 20:00 **/
.searchPopCloser{position:absolute;top:0;right:0;}
.searchPopOkBtn{position:absolute;left:278px;top:688px;}

.storeSearchBoard{position:relative;width:100%;height:487px;margin-top:60px;}
.storeSearchBoard .storeSearchElement{position:absolute;width:914px;height:487px;left:50%;margin-left:-457px;}
.storeSearchBoard .storeSearchElement .searchTypeBtns{position:relative;width:100%;height:40px;margin-top:211px;}/*** 2017-02-27 ***/
.storeSearchBoard .storeSearchElement .searchTypeBtns .searchTypeBtn{position:relative;float:left;}
.storeSearchBoard .storeSearchElement .searchFieldBlock{position:relative;width:100%;height:168px;}
.storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields{position:absolute;width:442px;height:29px;left:50%;margin-left:-221px;margin-top:55px;} /** 2017-02-27 20:00 **/
.storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields input{width:274px;height:43px;padding-left:8px;}
.storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields select{width:140px;height:45px;}
.storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields .searchTypeSubmit{position:absolute;right:0px;top:0px;}
.storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields.localnames{display:none;}

.storeSearchSubmit{position:relative;width:282px;height:82px;left:50%;margin-left:-141px;margin-top:60px;}

.storeSearchBoard .storeSearchElement .searchResultBlock{position:relative;width:100%;height:316px;overflow-x:hidden; overflow-y:auto;}

.stepBlock.step2_1 .reserveInfoBlock{position:relative;width:100%;height:698px;margin-top:105px;}

.stepBlock.step2_2 .storeSearchBoard{position:relative;width:100%;height:698px;margin-top:105px;}
.stepBlock.step2_2 .storeSearchBoard .storeSearchElement .searchTypeBtns{position:relative;width:100%;height:69px;margin-top:200px;}
.stepBlock.step2_2 .storeSearchBoard .storeSearchElement .searchResultBlock{position:relative;width:100%;height:242px;overflow-x:hidden; overflow-y:auto;}




.searchstore .searchStoreTitle{position:relative;width:100%;text-align:center;margin-top:120px;}
.searchstore .storeSearchBoard{position:relative;width:100%;height:487px;margin-top:169px;}
.searchstore .storeSearchBoard .storeSearchElement .searchTypeBtns{margin-top:200px;}
.searchstore .storeSearchBoard .storeSearchElement .searchResultBlock{position:relative;width:100%;height:228px;overflow-x:hidden; overflow-y:auto;}
.searchstore .storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields{margin-top:80px;} 

.searchStoreScript{position:relative;width:100%;text-align:center;margin-top:50px;}



/*****************************************************************************************************************

.stepBlock.step2_2 .storeSearchBoard .storeSearchElement{position:absolute;width:670px;height:487px;left:50%;margin-left:-335px;}
.stepBlock.step2_2 .storeSearchBoard .storeSearchElement .searchTypeBtns .searchTypeBtn{position:relative;float:left;}
.stepBlock.step2_2 .storeSearchBoard .storeSearchElement .searchFieldBlock{position:relative;width:100%;height:100px;background:#d6d6d6;}
.stepBlock.step2_2 .storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields{position:absolute;width:310px;height:29px;left:50%;margin-left:-155px;top:50%;margin-top:-14px;}
.stepBlock.step2_2 .storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields input{width:226px;height:27px;}
.stepBlock.step2_2 .storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields select{width:112px;height:29px;}
.stepBlock.step2_2 .storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields .searchTypeSubmit{position:absolute;right:0;top:0;}
.stepBlock.step2_2 .storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields.localnames{display:none;}



.stepBlock.step2_2 .storeSearchBoard .storeSearchElement .searchResultBlock{position:relative;width:100%;height:228px;overflow-x:hidden; overflow-y:auto;}
/*****************************************************************************************************************/

#store_list .searchDefaultMsg{position:absolute;width:100%;text-align:center;color:#a9a9a9;font-size:13px;line-height:17;font-weight:bold;}

#store_list{position:absolute;width:100%;}
#store_list .storeListBlock{position:relative;width:100%;height:30px;padding:15px 0 15px 0;font-size:12px;}
#store_list .listElement{position:relative;float:left;text-align:center;}
#store_list .storeField{width:18%;}
/* #store_list .addField{width:50%;} */
#store_list .addField{width:55%;}
#store_list .phoneField{width:15%;}
#store_list .chooseField{width:15%;}
#store_list .mapbtn{width:12%;}
#store_list .storeListBlock:nth-child(2n){background:#f9f9f9;}
#store_list input{width:20px;height:20px;}

.stepBlock.step3 .reserveInfoBlock .reserveInfoElement{position:relative;float:left;}



/* .stepBlock.step3 .reserveInfoBlock .reserveInfo .selectstore{color:#da004f;} */

.stepBlock.step3 .reserveInfoBlock .reserveInfo .goHomeBtns{position:relative;width:249px;height:73px;margin-left:310px;margin-top:90px;}

/************** // reserve request **************************************/

/************** reserve confirm ****************************************/

.fullBgBlock{position:absolute;width:100%;top:88px;height:128px;background:url('../../images/confirm_title_bgpattern.gif');}

.contBlock.contents.confirm{height:1050px;}

.confirm .ownCertify .title{position:relative;margin-top:120px;width:100%;text-align:center;}

.confirm .ownCertify .userInfoInputBlock{position:relative;width:582px;left:209px;margin-top:270px;} /*** 2017-02-28 ***/
.confirm .ownCertify .userInfoInputBlock .inputFieldBlock{position:relative;margin-bottom:12px;margin-top:10px;}
.confirm .ownCertify .userInfoInputBlock .inputFieldBlock input{position:relative;float:left;padding:0 8px 0 8px;width:195px;height:47px;margin-right:15px;}
.confirm .ownCertify .userInfoInputBlock .inputFieldBlock input[name='username']{margin-left:6px;}
.confirm .ownCertify .userInfoInputBlock .inputFieldBlock input[name='certifynum']{width:422px;margin-left:7px;}
.confirm .ownCertify .userInfoInputBlock .privacyTxtBlock{position:relative;width:360px;height:65px;overflow:auto;border:1px solid #c6c6c6;padding:8px 0 8px 8px;font-size:12px;line-height:16px;margin-top:25px;}
.confirm .ownCertify .userInfoInputBlock .privacyAgreeBlock{position:relative;width:100%;margin-top:12px;height:23px;margin-bottom:18px;}
.confirm .ownCertify .userInfoInputBlock .privacyAgreeBlock input{position:relative;width:20px;height:20px;margin-top:1px;}
.confirm .ownCertify .userInfoInputBlock .certifySubmit{position:relative;margin-top:42px;text-align:center;}
.confirm .ownCertify .userInfoInputBlock .certifyNotice{position:relativel;text-align:center;margin-top:36px;}

.certifyTimer{position:relative;font-size:13px;height:20px;width:100%;margin-left:7px;margin-top:5px;}

.infolist .reserveInfoList .title{position:relative;width:100%;text-align:center;margin-top:140px;}
.infolist .reserveInfoList .graphTitle{position:relative;margin-top:250px;margin-bottom:4px;}
.infolist .reserveInfoList .infoListBlock{position:relative;width:100%;text-align:center;}
.infolist .reserveInfoList .infoListBlock td{padding:6px 0; text-align:Center; vertical-align:middle; background-color:#f4f4f4;border-bottom:4px solid #ffffff;}
.infolist .reserveInfoList .infoListBlock tr{margin-top:4px;}
.infolist .reserveInfoList .infoListBlock td a img{margin-bottom:3px;}


.infolist .reserveInfoList .infolistScript{position:relative;width:100%;text-align:center;margin-top:60px;}

/************** //reserve confirm ****************************************/


/************** benefit ****************************************/
.benefit .title{position:relative;width:100%;margin-top:245px;text-align:center;margin-bottom:50px;}

.benefit .panelBlocks{position:relative;width:100%;height:162px;margin-top:20px;text-align:center;}
.benefit .panelBlocks img{position:relative;float:left;margin-left:1px;}
.benefit .panelBlocks img:first-child{margin-left:0;}}
/************** //benefit ****************************************/


/************** about ******************************************/
.about .spec{position:relative;width:100%;height:582px;}

.about .fullColorBgBlock{position:absolute;width:100%;height:320px;bottom:0;background:#fafafa;}
.about .simulationBlock{position:absolute;width:100%;height:320px;bottom:0;}
.about .simulationBlock .simulationTitle{margin-top:30px;}
.about .simulationBlock .simulationSubmit{position:absolute;width:100%;text-align:center;top:210px;}
.about .simulationBlock .simulationComp{position:relative;width:100%;margin-top:30px;}
.about .simulationBlock .simulationComp .simulationElement{position:relative;float:left;}
.about .simulationBlock .simulationComp .simulationElement .selectorTag{position:relative;float:left;}
.about .simulationBlock .simulationComp .simulationElement .simulationSelector{position:relative;float:left;margin-left:30px;width:170px;}
.about .simulationBlock .simulationComp .simulationElement .simulationSelector .selectViewer{width:100%;height:38px;cursor:pointer;}
.about .simulationBlock .simulationComp .simulationElement .simulationSelector .selectViewer img:nth-child(2){position:absolute;width:15px;height:8px;right:7px;top:5px;}
.about .simulationBlock .simulationComp .simulationElement .simulationSelector .divLine{width:100%;height:2px;background:#767676;}
.about .simulationBlock .simulationComp .simulationElement .simulationSelector .selectList{width:99%;height:120px;border:1px solid #d2d2d2;display:none;}
.about .simulationBlock .simulationComp .simulationElement .simulationSelector .listItem{width:100%;height:40px;cursor:pointer;background:#ffffff;}
.about .simulationBlock .simulationComp .simulationElement .simulationSelector .listItem img{margin-left:10px;margin-top:10px;}

.about .simulationBlock .simulationComp .simulationElement.color{width:310px;}

.about .simulationBlock .simulationComp .simulationElement.charge{width:340px;}
.about .simulationBlock .simulationComp .simulationElement.charge .simulationSelector .selectList{height:160px;}
.about .simulationBlock .simulationComp .simulationElement.charge .simulationSelector{margin-left:30px;width:200px;}

.about .simulationBlock .simulationComp .simulationElement.card{width:340px;}
.about .simulationBlock .simulationComp .simulationElement.card .simulationSelector{margin-left:30px;width:200px;}

/************** //about ******************************************/


/************** question *****************************************/
.question .title{position:relative;margin-top:120px;width:100%;text-align:center;}
.question .questionBlock{position:relative;width:639px;left:180px;margin-top:220px;}
.question .questionBlock .questionElement{position:relative;width:100%;margin-bottom:8px;background:#fafafa;}
.question .questionBlock .questionElement .questionTab{position:relative;width:100%;height:44px;cursor:pointer;}
.question .questionBlock .questionElement .questionTab .tabArrow{position:absolute;top:0;right:0;width:47px;}
.question .questionBlock .questionElement .questionContent{position:relative;width:100%;display:none;}
.question .questionBlock .questionElement:first-child .questionContent{display:block;}
.question .questionBlock .questionElement .questionContent .questionBullet{position:absolute;left:52px;}
.question .questionBlock .questionElement .questionContent .questionAnswer{position:relative;width:530px;margin-left:70px;margin-top:20px;}
.question .questionBlock .questionElement .questionContent .questionAnswer .answerList{position:relative;width:100%;}
.question .questionBlock .questionElement .questionContent .questionAnswer .answerList .answerTitle{position:relative;width:100%;height:25px;color:#414141;font-size:13px;font-weight:bold;cursor:pointer;}
.question .questionBlock .questionElement .questionContent .questionAnswer .answerList .answerTxt{position:relative;padding-left:4%;width:96%;display:none;padding-bottom:20px;line-height:20px;}
.question .questionScript{position:relative;width:100%;margin-top:24px;text-align:center;}
/************** //question *****************************************/

/************** main *********************************************/
.contBlock.contents.main{height:3732px;}

/* .main .topVisualBlock{position:absolute; width:1600px;left:50%; margin-left:-800px;} */

.mainSliderElement{position:relative;width:1400px;height:453px;}
.main .topVisualBlock .bx-wrapper .bx-pager.bx-default-pager a {
    background: #f0aec6;
}
.main .topVisualBlock .bx-wrapper .bx-pager.bx-default-pager a:hover,
.main .topVisualBlock .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #da004f;
}
.main .topVisualBlock .bx-wrapper .bx-pager.bx-default-pager{padding-top:5px;}
.main .topVisualBlock .bx-wrapper .bx-pager, .bx-wrapper .bx-controls{bottom:20px;}

.main .benefitBtnBlock{margin-top:506px;}
.main .benefitBtnBlock .benefitTitle{position:relative;width:100%;text-align:center;}
.main .benefitBtnBlock .benefitInfoBlock{position:relative;left:39px;width:921px;height:592px;margin-top:20px;}
.main .benefitBtnBlock .benefitInfoBlock img{position:relative;float:left;margin:10px;}
.main .benefitBtnBlock .benefitSubmit{position:relative;width:100%;text-align:center;margin-top:25px;}/*** 2017-02-28 ***/

.goReserveBtn{position:absolute;width:284px;height:64px;left:50%;margin-left:-142px;top:763px;}
/************** //main *********************************************/

/************** benefit *********************************************/

.benefitCont{position:relative;width:100%;text-align:center;margin-top:14px;}
.benefitCont:first-child{margin-top:120px; margin-bottom:251px;}

/************** //benefit *********************************************/


/************** teaser *********************************************/
 /* 2017-02-27 */
 .contBlock.contents.teaser{height:980px;}
.teaserCont{position:relative;width:100%;margin-top:490px;text-align:center;}
.teaser .topVisualBlock{height:440px;background:#f8f8f8;} 
.teaser .topVisualBlock .mainSliderElement{margin-top:0px;}
.teaser .topVisualBlock .mainSliderElement .mainTopVisuals{margin-top:50px;}
.menuBlock.teaser .menu:first-child{margin-left:100px;}
.teaserAboutImg{position:relative;width:100%;text-align:center;}
.contBlock.contents.teaser_about{height:9404px;}
.topBgBlock{position:absolute;width:100%;top:52px;height:500px;background:#f8f8f8;}
/* 2017-02-27 */
/************** //teaser *******************************************/


/*** 2017-02-28 ***/
.agreePopBlock{position:absolute;left:100px;top:600px;width:800px;height:800px;display:none;}
.agreePopBlock .agreePopClose{position:absolute;right:1px;top:1px;}

.storeAgreeBlock{position:relative;margin-top:28px;left:112px;}
.storeAgreeBlock input{width:20px;height:20px;}
.stepBlock.step2_2 .storeSearchSubmit{margin-top:40px;}
.stepBlock.step2_2 .storeSearchBoard .storeSearchElement .searchFieldBlock .searchTypeFields{margin-top:60px;}

.contBlock.contents.benefit{height:3735px;}

.benefitArrow{position:absolute;right:90px;top:20px;}
.benefitMoreBtn{position:absolute;top:30px;right:110px;}
.benefitMoreBtn.bottom{top:70px;}
.benefitDeco{position:absolute;left:913px;top:230px;}

.benefit .colorBlock.gray{height:600px;}
.benefit .colorBlock.gray:nth-child(2){top:1618px;}
.benefit .colorBlock.gray:nth-child(3){top:2846px;}

.contBlock.contents.about{height:22638px;}

.mainBenefitScript{position:relative;text-align:center;margin-top:15px;}


.bottomBanner{position:relative;width:100%;text-align:center;margin-top:80px;}

.benefitReply{display:none}
.benefitCont.benefit06 .benefitMoreBtn{right:150px;}

.mapPopBlock{position:absolute;left:100px;top:150px;width:800px;height:600px;background:#ffffff;display:none;border:1px solid #000000;}
.mapPopBlock .mapPopClose{position:absolute;right:1px;top:1px;}










/* 2017-09-12 */

.img_banner{position:fixed; top:200px; left:50%; margin-left:530px; z-index:10;}



.main .topVisualBlock{width:100%;}
.main .topVisualBlock{background:url('../../images/main_visual.jpg') no-repeat center top; border:1px solid red;}

.pc_bg_main_top{height:857px; background:url('../../images/main_visual.jpg') no-repeat center top;}
.pc_bg_main_top span{display:none;}

.pc_bg_main_bottom{height:2877px; background:url('../../images/pc_bg_main.jpg') no-repeat center top;}
.pc_bg_main_bottom span{display:none;}

.benefit .contElements{height:auto;}

.pc_benefit_list{padding-top:370px; width:100%; text-align:Center;}
.pc_benefit_list dt{padding:20px 0;}

.pc_benefit_list dd.bg_1{background:url('../../images/pc_bg_benefit_img_1.jpg') no-repeat center top;}
.pc_benefit_list dd.bg_2{background:url('../../images/pc_bg_benefit_img_2.jpg') no-repeat center top;}
.pc_benefit_list dd.bg_3{background:url('../../images/pc_bg_benefit_img_3.jpg') no-repeat center top;}
.pc_benefit_list dd.bg_4{background:url('../../images/pc_bg_benefit_img_4.jpg') no-repeat center top;}
.pc_benefit_list dd.bg_5{background:url('../../images/pc_bg_benefit_img_5.jpg') no-repeat center top;}
.pc_benefit_list dd.bg_6{background:url('../../images/pc_bg_benefit_img_6.jpg') no-repeat center top;}
		
		
		
.about_v30_list ul li span{display:none;}

.bg_about_v30_1{height:2426px; background:url('../../images/pc_about_1_1.jpg') no-repeat center top;background-size:auto 100%;}
.bg_about_v30_2{height:2958px; background:url('../../images/pc_about_1_2.jpg') no-repeat center top;background-size:auto 100%;}
.bg_about_v30_3{height:3194px; background:url('../../images/pc_about_1_3.jpg') no-repeat center top;background-size:auto 100%;}
.bg_about_v30_4{height:2078px; background:url('../../images/pc_about_1_4.jpg') no-repeat center top;background-size:auto 100%;}

.bg_about_v30_5{height:3296px; background:url('../../images/pc_about_2_1.jpg') no-repeat center top;background-size:auto 100%;}

.bg_about_v30_6{height:4357px; background:url('../../images/pc_about_3_1.jpg') no-repeat center top;background-size:auto 100%;}
.bg_about_v30_7{height:4330px; background:url('../../images/pc_about_3_2.jpg') no-repeat center top;background-size:auto 100%;}

		




.contBlock.contents.question{height:1250px;}


.faq_area{width:90%; margin:200px auto 0 auto;}

.faq_list{margin-bottom:15px;}
.faq_list dt{width:90%; padding:10px 5%; background-color:#ebebeb; cursor:pointer;}
.faq_list dt a{display:inline-block; width:100%; height:100%;}
.faq_list dt span{display:inline-block; padding:0 0 0 10px;  height:100%; color:#000000; font-size:16px; font-weight:600;}

/*
.faq_list dt strong.color_pink{color:#eb0089;}
.faq_list dt strong.color_blue{color:#045b8c;}
.faq_list dt strong.color_gray{color:#58595b;}
*/


.faq_list dt strong{padding:3px 5px;  font-size:16px; color:#fff;  font-weight:600; letter-spacing:0px;}
.faq_list dt strong.color_pink{background-color:#eb0089;}
.faq_list dt strong.color_blue{background-color:#c366c9;}
.faq_list dt strong.color_gray{background-color:#4fa4da;}




.faq_list dd{display:none; padding:0; background-color:#fafafa;}

.depth_2{padding:0 5%;}
.depth_2 li{padding:10px 0;}
.depth_2 li a{displaY:inline-block; width:100%;}
.depth_2 a{color:#000000;}
.depth_2 a:hover,
.depth_2 a:active,
.depth_2 a:focus{text-decoration:none;}

.depth_2 span{display:block; margin:10px; font-size:14px; line-height:1.7;}

.depth_2 li div a{width:auto;}


		
		
.pop_map_view{overflow:hidden; position:absolute; top:100px; left:50%; margin-left:-500px; width:1000px; height:750px; z-index:100; border:2px solid #eb0089; background-color:#fff;}

.btn_pop_close{overflow:hidden; position:relative; top:0px; right:0px; text-align:right;}

.map_address{position:absolute; top:50px; left:50px; width:90%;}

.map_address dl{overflow:hidden; margin:10px 0;}

.map_address dt{float:left; width:20%;}
.map_address dd{float:left; width:79%;}

.map_address dt span{display:inline-block; width:100px; padding:5px 0; text-align:center; background-color:gray; color:#fff; font-size:14px;}
.map_address dd p{padding:3px 0; line-height:1.7; font-size:14px;}


.map_area{position:absolute; top:150px; left:5%; width:90%; height:480px; }

.btn_map_center{position:absolute; top:660px; left:0px; width:100%; text-align:center;}


/* 지도 버튼 */
.searchstore #store_list .mapbtn a img{width:60%;}




#imap{position:relative;width:100%;height:100%;}



.header_top ul{
	padding-left:650px;
	width:353px;
	margin:0 auto;
	overflow:hidden;
}
.header_top li a {
    display: block;
    color: #333333;
    height: 35px;
    line-height: 35px;
    width: 100%;
	font-size:12px;
    overflow: hidden;
	text-align:center;
	text
}

.header_top li a:hover{text-decoration:none;}

.header_top li{
    background:url('../../images/line_01.jpg') left center no-repeat;
	padding-left:1px;
}
.header_top li.menu1{
    background:url('../../images/ico_home.gif') 10px 11px no-repeat;
	padding-left:0;
}
.header_top li.menu1 a {
    width: 131px;
}
.header_top li.menu2 a {
    width: 109px;
}
.header_top li.menu3 a {
    width: 110px;
}

.header_top ul li{
	float:left;
}



		
