<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="/layouts/layout">
<head>
	<script src="common/js/server.js"></script>
	<script>
	FacebookPixelCode(8);
	</script>
</head>
<body>

<th:block layout:fragment="content">  
    <div class="contBlock contents reservestep3">
    	<div class="colorBlock"></div>
    	<div class="colorBlock gray"></div>
		<div class="contElements">   
	        <!-- step2_1  -->
	        <div class="stepBlock step2_1">
	            <div class="stepLocation"><img src="images/step_2.png"/></div>
	            <div class="reserveInfoBlock">
	                <div><img class="reserveInfoBg" src="images/step_2_1_board.jpg"/></div>
	                <div class="reserveInfoElement reservePhone"><img th:src="@{'images/select_phone_' + ${order.colrCd} + '.jpg'}"/></div>
	                <div class="reserveInfoElement reserveInfo">
	                    <div class="reserveInfoTxt">
	                        <div class="reserveInfoTxtBlock">
	                            <div class="reserveInfoField name" th:text="${order.name}">김소*</div>
	                        </div>
	                        <div class="reserveInfoTxtBlock">
	                            <div class="reserveInfoField phone" th:text="${order.phonNo}">010-****-1234</div>
	                        </div>
	                        <div class="reserveInfoTxtBlock">
	                            <div class="reserveInfoField number" th:text="${order.reqSeqNo}">1122334455</div>
	                        </div>
							<div class="reserveInfoTxtBlock">
								<div class="reserveInfoField device" th:text="${order.modTypNm}">V30</div>
							</div>
							<div class="reserveInfoTxtBlock">
								<div class="reserveInfoField volume" th:text="${order.sizeNm}">64GB</div>
							</div>
	                        <div class="reserveInfoTxtBlock">
	                            <div class="reserveInfoField color" th:text="${order.colrNm}">Silver</div>
	                        </div>
	                    </div>
	                    <div class="storeSelectBtns">
	                        <div class="storeSelectBtn"><a href="reserve4" th:href="@{'reserve4?reqSeqNo=' + ${order.reqSeqNo}}"  onclick="sendAceCount('V30booking2_store');"><img src="images/step_2_1_selectmall.jpg"/></a></div>
	                        <div class="storeSelectBtn"><a href="reserve5" th:href="@{'reserve5?reqSeqNo=' + ${order.reqSeqNo}}"><img src="images/step_2_1_selectlater.jpg"/></a></div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!-- step2_1 -->
		</div>
	</div>
</th:block>

</body>
</html>